@import "@/styles/abstracts";

.container {
  padding: 18px 47px;
  width: max-content;

  background: linear-gradient(
      273.79deg,
      rgba(224, 221, 206, 0.7) 29.51%,
      rgba(224, 221, 206, 0) 94.72%
    ),
    linear-gradient(
      275.07deg,
      rgba(240, 237, 223, 0.2) 5.97%,
      rgba(255, 255, 255, 0.17) 76.79%
    ),
    linear-gradient(0deg, #f0eee4, #f0eee4);

  border-radius: 10px;
  border: 1px solid;
  border-image-source: linear-gradient(
    273.79deg,
    rgba(224, 221, 206, 0.7) 29.51%,
    rgba(224, 221, 206, 0) 94.72%
  );

  box-shadow: 4px 4px 6px 0px #0000004d;
  box-shadow: -4px -4px 6px 0px #ffffff;
  box-shadow: 4px 4px 6px 0px #ffffff59 inset;

  color: $primary-color-1;
  font-size: 40px;
  line-height: 54px;
}
