@import "@/styles/abstracts";

.container {
  .HomeSection {
    .wrapper {
      max-width: 1514px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;

      h2 {
        text-align: left;
        max-width: 845px;
        margin-top: 195px;
      }

      strong {
        line-height: 54px;
        text-align: left;
        max-width: 657px;
        margin-top: 25px;
        margin-bottom: 85px;
      }
    }

    height: 956px;

    background: url("../../assets/HomeSection.png") no-repeat center center
      fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .OfferSection {
    position: relative;

    .wrapper {
      max-width: 1507px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;

      h2 {
        justify-self: center;
        align-self: center;
        margin-top: 74px;
      }

      strong {
        max-width: 1142px;
        margin-top: 98px;
        margin-bottom: 131px;
      }
    }

    .OfferSectionImage {
      position: absolute;
      bottom: 35px;
      right: 75px;
    }
  }

  .AboutSection {
    background-color: $primary-color-3;
    .wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;

      .heading {
        text-align: center;
        padding-top: 78px;
        padding-bottom: 87px;
      }

      & > div {
        display: flex;
      }

      .first {
        align-items: center;
        padding: 0 129px;

        .picture {
          margin-left: 44px;
        }
      }

      .second {
        align-items: center;
        padding: 0 118px 0 129px;
        margin-top: 178px;

        .firstpicture {
          position: relative;
          top: -156px;
        }

        .secondpicture {
          margin-left: 49px;
          margin-right: 90px;
        }
      }

      .third {
        align-items: center;
        padding: 0 66px 0 129px;
        margin-top: 87px;

        .picture {
          margin-right: 92px;
        }
      }

      .fourth {
        margin-top: 133px;
        padding: 0 88px 104px 152px;

        .firstpicture {
          margin-left: 107px;
          margin-right: 23px;
        }

        .secondpicture {
          position: relative;
          top: -133px;
        }
      }
    }
  }

  .AdvantagesSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 42px;
    padding-bottom: 106px;

    .list {
      display: flex;
      padding: 0 233px 0 222px;

      & > li {
        width: 25%;
        display: flex;
        justify-content: center;
        position: relative;
        font-size: 35px;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: center;
        margin-top: 310px;

        .icon {
          position: absolute;
          transform: translateY(-100%);
        }
      }

      & .saving {
        & > .icon {
          top: -33px;
        }
      }

      & .professionalism {
        & > .icon {
          top: -35px;
        }
      }
    }
  }

  .ServicesSection {
    background-color: $primary-color-3;
    padding: 32px 0 106px 0;
    .wrapper {
      padding-left: 70px;
      padding-right: 61px;
      .heading {
        text-align: center;
        margin-bottom: 102px;
      }

      .serviceContent {
        display: flex;
        justify-content: space-between;
        font-size: 35px;
        font-weight: 400;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: left;

        strong {
          font-size: 35px;
          font-weight: 700;
          line-height: 48px;
          letter-spacing: 0em;
          text-align: left;
        }

        .firstColumn {
          width: 53.5%;
          & > p {
            margin-top: 61px;
            margin-bottom: 72px;
          }
        }

        .secondColumn {
          width: 43.5%;
          display: flex;
          flex-direction: column;

          & > .first {
            padding: 30px 0 62px 0;
          }

          & > .second{
            padding-top: 108px;
            max-width: 95%;
          }

          & > .third{
            padding-top: 69px;
            align-self: flex-end;
            max-width: 80%;
          }

          .pictures {
            display: flex;
            height: 37.5%;

            & > *:first-child {
              align-self: flex-end;
              margin-right: 20px;
            }
          }
        }
      }
    }
  }

  .QuestionsSection {
    background-color: $primary-color-3;
    .wrapper {
      padding: 0 165px 117px 102px;
      position: relative;
      .heading {
        text-align: center;
        padding: 56px 0 78px 0;
      }

      .picture {
        position: absolute;
        z-index: 0;
        top: 90px;
        right: 129px;
      }

      .questionList {
        position: relative;
        z-index: 1;

        & > *:not(:first-child) {
          margin-top: 20px;
        }

        .first {
          max-width: 940px;
        }

        .second {
          max-width: 1126px;
        }

        .third {
          max-width: 1430px;
        }

        .fourth {
          max-width: 1386px;
        }

        .fifth {
          max-width: 1408px;
        }

        .sixth {
          max-width: 1590px;
        }
      }
    }
  }
}

.heading {
  font-size: 50px;
  font-weight: 700;
  color: $primary-color-2;
  line-height: 68px;
}

.content {
  font-size: 40px;
  font-weight: 400;
  color: $primary-color-1;
}
